In [7]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("psparks/instacart-market-basket-analysis")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\ROG STRIX\.cache\kagglehub\datasets\psparks\instacart-market-basket-analysis\versions\1

In [10]:
import pandas as pd
import numpy as np

In [3]:
aisles = pd.read_csv(path + "/aisles.csv")
departments = pd.read_csv(path + "/departments.csv")
orders = pd.read_csv(path + "/orders.csv")
order_products__prior = pd.read_csv(path + "/order_products__prior.csv")
order_products__train = pd.read_csv(path + "/order_products__train.csv")
products = pd.read_csv(path + "/products.csv")

In [8]:
print("shape of aisles:",aisles.shape)
print("shape of departments:",departments.shape)
print("shape of order_products__prior:",order_products__prior.shape)
print("shape of order_products__train:",order_products__train.shape)
print("shape of orders:",orders.shape)
print("shape of products:",products.shape)

print("aisles exploration:")
print(aisles.head())
print(aisles.tail())
print(aisles.info())
print(aisles.describe())
print(aisles.corr(numeric_only=True))

print("departments exploration:")
print(departments.head())
print(departments.tail())
print(departments.info())
print(departments.describe())
print(departments.corr(numeric_only=True))

print("order_products__prior exploration:")
print(order_products__prior.head())
print(order_products__prior.tail())
print(order_products__prior.info())
print(order_products__prior.describe())
print(order_products__prior.corr())

print("order_products__train exploration:")
print(order_products__train.head())
print(order_products__train.tail())
print(order_products__train.info())
print(order_products__train.describe())
print(order_products__train.corr())

print("orders exploration:")
print(orders.head())
print(orders.tail())
print(orders.info())
print(orders.describe())
print(orders.corr(numeric_only=True))
print(orders.eval_set.tail())
print(orders.order_hour_of_day)

print("products exploration:")
print(products.head())
print(products.tail())
print(products.info())
print(products.describe())
print(products.corr(numeric_only=True))

shape of aisles: (134, 2)
shape of departments: (21, 2)
shape of order_products__prior: (32434489, 4)
shape of order_products__train: (1384617, 4)
shape of orders: (3421083, 7)
shape of products: (49688, 4)
aisles exploration:
   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation
     aisle_id                       aisle
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aisle_id  134 non-null    int64
 1   aisle     134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB
None
         aisle_id
count  134.000000
mean    67.500000
std     38.826537
min      1.000000
25%     34.250000
50%     67.500000
75%    100.750000
max    134.000000
          aisle_id
aisle_id       1.0
departments exploration:
   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol
    department_id department
16             17  household
17             18     babies
18             19     snacks
19             20       deli
20             21    missing
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 468.0+ bytes
None
       department_id
count      21.000000
mean       11.000000
std         6.204837
min         1.000000
25%         6.000000
50%        11.000000
75%        16.000000
max        21.000000
               department_id
department_id            1.0
order_products__prior exploration:
   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
          order_id  product_id  add_to_cart_order  reordered
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB
None
           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00
                   order_id  product_id  add_to_cart_order  reordered
order_id           1.000000   -0.000082          -0.000320  -0.000253
product_id        -0.000082    1.000000           0.005529   0.003718
add_to_cart_order -0.000320    0.005529           1.000000  -0.133024
reordered         -0.000253    0.003718          -0.133024   1.000000
order_products__train exploration:
   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1
         order_id  product_id  add_to_cart_order  reordered
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1384617 entries, 0 to 1384616
Data columns (total 4 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   order_id           1384617 non-null  int64
 1   product_id         1384617 non-null  int64
 2   add_to_cart_order  1384617 non-null  int64
 3   reordered          1384617 non-null  int64
dtypes: int64(4)
memory usage: 42.3 MB
None
           order_id    product_id  add_to_cart_order     reordered
count  1.384617e+06  1.384617e+06       1.384617e+06  1.384617e+06
mean   1.706298e+06  2.555624e+04       8.758044e+00  5.985944e-01
std    9.897326e+05  1.412127e+04       7.423936e+00  4.901829e-01
min    1.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.433700e+05  1.338000e+04       3.000000e+00  0.000000e+00
50%    1.701880e+06  2.529800e+04       7.000000e+00  1.000000e+00
75%    2.568023e+06  3.794000e+04       1.200000e+01  1.000000e+00
max    3.421070e+06  4.968800e+04       8.000000e+01  1.000000e+00
                   order_id  product_id  add_to_cart_order  reordered
order_id           1.000000   -0.000545           0.001916   0.001418
product_id        -0.000545    1.000000           0.003128   0.006560
add_to_cart_order  0.001916    0.003128           1.000000  -0.146393
reordered          0.001418    0.006560          -0.146393   1.000000
orders exploration:
   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7
2    473747        1    prior             3          3                 12
3   2254736        1    prior             4          4                  7
4    431534        1    prior             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0
         order_id  user_id eval_set  order_number  order_dow  \
3421078   2266710   206209    prior            10          5
3421079   1854736   206209    prior            11          4
3421080    626363   206209    prior            12          1
3421081   2977660   206209    prior            13          1
3421082    272231   206209    train            14          6

         order_hour_of_day  days_since_prior_order
3421078                 18                    29.0
3421079                 10                    30.0
3421080                 12                    18.0
3421081                 12                     7.0
3421082                 14                    30.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB
None
           order_id       user_id  order_number     order_dow  \
count  3.421083e+06  3.421083e+06  3.421083e+06  3.421083e+06
mean   1.710542e+06  1.029782e+05  1.715486e+01  2.776219e+00
std    9.875817e+05  5.953372e+04  1.773316e+01  2.046829e+00
min    1.000000e+00  1.000000e+00  1.000000e+00  0.000000e+00
25%    8.552715e+05  5.139400e+04  5.000000e+00  1.000000e+00
50%    1.710542e+06  1.026890e+05  1.100000e+01  3.000000e+00
75%    2.565812e+06  1.543850e+05  2.300000e+01  5.000000e+00
max    3.421083e+06  2.062090e+05  1.000000e+02  6.000000e+00

       order_hour_of_day  days_since_prior_order
count       3.421083e+06            3.214874e+06
mean        1.345202e+01            1.111484e+01
std         4.226088e+00            9.206737e+00
min         0.000000e+00            0.000000e+00
25%         1.000000e+01            4.000000e+00
50%         1.300000e+01            7.000000e+00
75%         1.600000e+01            1.500000e+01
max         2.300000e+01            3.000000e+01
                        order_id   user_id  order_number  order_dow  \
order_id                1.000000 -0.000165     -0.000098   0.000929
user_id                -0.000165  1.000000     -0.001424  -0.001205
order_number           -0.000098 -0.001424      1.000000   0.015258
order_dow               0.000929 -0.001205      0.015258   1.000000
order_hour_of_day      -0.000019 -0.001007     -0.035690   0.005978
days_since_prior_order  0.000523  0.001591     -0.360564  -0.028107

                        order_hour_of_day  days_since_prior_order
order_id                        -0.000019                0.000523
user_id                         -0.001007                0.001591
order_number                    -0.035690               -0.360564
order_dow                        0.005978               -0.028107
order_hour_of_day                1.000000                0.001291
days_since_prior_order           0.001291                1.000000
3421078    prior
3421079    prior
3421080    prior
3421081    prior
3421082    train
Name: eval_set, dtype: object
0           8
1           7
2          12
3           7
4          15
           ..
3421078    18
3421079    10
3421080    12
3421081    12
3421082    14
Name: order_hour_of_day, Length: 3421083, dtype: int64
products exploration:
   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13
       product_id                                product_name  aisle_id  \
49683       49684   Vodka, Triple Distilled, Twist of Vanilla       124
49684       49685          En Croute Roast Hazelnut Cranberry        42
49685       49686                            Artisan Baguette       112
49686       49687  Smartblend Healthy Metabolism Dry Cat Food        41
49687       49688                      Fresh Foaming Cleanser        73

       department_id
49683              5
49684              1
49685              3
49686              8
49687             11
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49688 non-null  int64
 1   product_name   49688 non-null  object
 2   aisle_id       49688 non-null  int64
 3   department_id  49688 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB
None
         product_id      aisle_id  department_id
count  49688.000000  49688.000000   49688.000000
mean   24844.500000     67.769582      11.728687
std    14343.834425     38.316162       5.850410
min        1.000000      1.000000       1.000000
25%    12422.750000     35.000000       7.000000
50%    24844.500000     69.000000      13.000000
75%    37266.250000    100.000000      17.000000
max    49688.000000    134.000000      21.000000
               product_id  aisle_id  department_id
product_id       1.000000 -0.000807       0.002074
aisle_id        -0.000807  1.000000       0.094784
department_id    0.002074  0.094784       1.000000

In [14]:
all_product= pd.concat([order_products__prior,order_products__train])
all_product.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [21]:
X=(products.merge(aisles,on='aisle_id').merge(departments,on='department_id'))
X

,product_id,product_name,aisle_id,department_id,aisle,department
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks
1,2,All-Seasons Salt,104,13,spices seasonings,pantry
2,3,Robust Golden Unsweetened Oolong Tea,94,7,tea,beverages
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,frozen meals,frozen
4,5,Green Chile Anytime Sauce,5,13,marinades meat preparation,pantry
...,...,...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,spirits,alcohol
49684,49685,En Croute Roast Hazelnut Cranberry,42,1,frozen vegan vegetarian,frozen
49685,49686,Artisan Baguette,112,3,bread,bakery
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,cat food care,pets
49687,49688,Fresh Foaming Cleanser,73,11,facial care,personal care

In [27]:
all=\
orders.merge(all_product,on='order_id')
all=\
X.merge(all,on='product_id')
all

,product_id,product_name,aisle_id,department_id,aisle,department,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks,3139998,138,prior,28,6,11,3.0,5,0
1,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks,1977647,138,prior,30,6,17,20.0,1,1
2,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks,389851,709,prior,2,0,21,6.0,20,0
3,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks,63770,751,train,7,2,6,30.0,4,0
4,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks,652770,764,prior,1,3,13,NaN,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33819101,49688,Fresh Foaming Cleanser,73,11,facial care,personal care,1788356,200215,prior,2,0,9,5.0,27,0
33819102,49688,Fresh Foaming Cleanser,73,11,facial care,personal care,3401313,200377,prior,1,4,11,NaN,5,0
33819103,49688,Fresh Foaming Cleanser,73,11,facial care,personal care,809510,200873,prior,5,3,8,15.0,12,0
33819104,49688,Fresh Foaming Cleanser,73,11,facial care,personal care,2359893,200873,prior,9,3,15,5.0,11,1
33819105,49688,Fresh Foaming Cleanser,73,11,facial care,personal care,2385091,205926,prior,11,1,15,6.0,35,0

In [37]:
all.shape

(33819106, 15)